<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
<div id="app">

                <form class="Form1" @submit.prevent="addCard">
                    <label for="card-title">Заголовок:</label>
                    <input id="card-title" type="text" v-model="newCardTitle"><br>
                    <label for="card-desc">Описание:</label>
                    <textarea id="card-desc"  v-model="newCardDesc"></textarea><br>
                    <label for="deadline">Срок сдачи:</label>
                    <input type="date" id="deadline" v-model="deadline" name="deadline-task"  required /><br>
                    <button type="submit">Добавить карточку</button>
                </form>




    <div class="column">
        <h2>Запланированные задачи</h2>
        <div v-for="card in column1" :key="card.id" class="card">
            <h3>Заголовок: {{ card.title }}</h3>
            <h3>Описание: {{ card.description }}</h3>
            <h3>Дата завершения: {{ card.deadline }}</h3>
            Дата создания: {{ card.completedDate }}
            <button  v-on:click="removeCard(card)">Удалить</button>
            <button  v-on:click="render(card)">Редактировать</button>
            <button  v-on:click="move2(card)">Отправить в работу</button>
        </div>

    </div>
    <div class="column">
        <h2>Задачи в работе</h2>
        <div v-for="card in column2" :key="card.id" class="card">
            <h3>Заголовок: {{ card.title }}</h3>
            <h3>Описание: {{ card.description }}</h3>
            <h3>Дата завершения: {{ card.deadline }}</h3>
            Дата создания: {{ card.completedDate }}
            <button  v-on:click="move3(card)">Отправить на тестирование</button>
        </div>
    </div>
    <div class="column">
        <h2>Тестирование</h2>
        <div v-for="card in column3" :key="card.id" class="card">
            <h3>Заголовок: {{ card.title }}</h3>
            <h3>Описание: {{ card.description }}</h3>
            <h3>Дата завершения: {{ card.deadline }}</h3>
            Дата создания: {{ card.completedDate }}
            <button  v-on:click="move4(card)">Отправить в Выполненые задачи</button>
            <button  v-on:click="remove3(card)">Вернуть в работу</button>

        </div>

    </div>
    <div class="column">
        <h2>Выполненные задачи</h2>
        <div v-for="card in column4" :key="card.id" class="card">
            <h3>Заголовок: {{ card.title }}</h3>
            <h3>Описание: {{ card.description }}</h3>
            <h3>Дата завершения: {{ card.deadline }}</h3>
            Дата создания: {{ card.completedDate }}
        </div>

    </div>
</div>

</body>

</html>